extends ../layout

block content
  div.registration
    h1 Register New User

    form(method='post', action='/register')
      include ../user/userFields
      div.but
        input(type='submit', value='Register')
