div.fields
  label Email:
  - if (!user) var user = {};
  input(name='user[email]', value=user.email || '')

div.fields
  label Password:
  input(name='user[password]', value=user.password || '', type='password')